
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  /* appearance */
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  /* positioning */
  position: absolute;
  left: 150px;  /* Uncomment if you want to set a "starting" position */
  top: 100px;   /* Uncomment if you want to set a "starting" position */
}

#rightPaddle {
  /* appearance */
  background-color: #5E17EB;
  width: 20px;
  height: 80px;

  /* positioning */
  position: absolute;
  left: 300px;  /* Uncomment if you want to set a "starting" position */
  top: 100px;   /* Uncomment if you want to set a "starting" position */
}

#leftPaddle {
  /* appearance */
  background-color: #F94144; 
  width: 20px;
  height: 80px;

  /* positioning */
  position: absolute;
  left: 100px;  /* Uncomment if you want to set a "starting" position */
  top: 100px;   /* Uncomment if you want to set a "starting" position */
}

