
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  /* appearance */
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50px;

  /* positioning */
  position: absolute;
  left: 150px;  
  top: 100px;  
}

#rightPaddle {
  /* appearance */
  background-color: #5E17EB;
  width: 20px;
  height: 80px;

  /* positioning */
  position: absolute;
  left: 415px; 
  top: 100px;  
}

#leftPaddle {
  /* appearance */
  background-color: #F94144; 
  width: 20px;
  height: 80px;

  /* positioning */
  position: absolute;
  left: 5px;  
  top: 150px;  
}

#player1Score {
   font-size: 50px;
   position: absolute;
   left: 50px;
   color: #F94144;
   top: 30px; 
   font-family: 'Mochiy Pop P One', sans-serif;
}

#player2Score {
  font-size: 50px;
  position: absolute;
  left: 350px;
  color: #5E17EB;
  top: 30px; 
  font-family: 'Mochiy Pop P One', sans-serif;
}


